<footer class="footer bg-dark py-3 mt-auto">
    <div class="container" align-items="center">
        <span class="text-muted" style="margin-left: 32%; margin-right: 32%;">&copy; CollegeSpace NITW</span>
    </div>
</footer>