<!-- partial:index.partial.html -->
<link rel="stylesheet" href="/stylesheets/style.css">
<% layout('/layouts/boilerplate') %>
        <div class="container">
            <div class="timeline">
                <div class="timeline-container primary">
                    <div class="timeline-icon">
                        <i class="far fa-grin-wink"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Register</span></h4>
                        <p>Make sure you are registered before adding a new course or material</p>
                        <p class="timeline-subtitle">1 Hours Ago</p>
                    </div>
                </div>
                <div class="timeline-container warning">
                    <div class="timeline-icon">
                        <i class="far fa-grimace"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">If your course/branch is not there click on add course button on top</span></h4>
                        <!-- <img class='img-fluid' src="https://res.cloudinary.com/nitw/image/upload/v1622610872/CollegeSpace/10.1_najyd5.png"> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                        <p class="timeline-subtitle">1 Day Ago</p>
                    </div>
                </div>
                <div class="timeline-container">
                    <div class="timeline-icon">
                        <i class="far fa-grin-beam-sweat"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Now add course name and in description type</span></h4>
                        <h4 class="timeline-title"><span class="badge">(your course name and) all course material available here</span></h4>
                        <img class='img-fluid' src="https://res.cloudinary.com/nitw/image/upload/v1622610872/CollegeSpace/10.1_najyd5.png">
                        <!-- <img class='img-fluid' src="https://res.cloudinary.com/nitw/image/upload/v1622610871/CollegeSpace/2_mlo7y3.png"> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                        <p class="timeline-subtitle">3 Days Ago</p>
                    </div>
                </div>
                <div class="timeline-container warning">
                    <div class="timeline-icon">
                        <i class="far fa-grimace"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">To add material to already created course</span></h4>
                        <!-- <img class='img-fluid' src="https://res.cloudinary.com/nitw/image/upload/v1622610871/CollegeSpace/6_rranke.png"> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                        <p class="timeline-subtitle">1 Day Ago</p>
                    </div>
                </div>
                <div class="timeline-container danger">
                    <div class="timeline-icon">
                        <i class="far fa-grin-hearts"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Open your personal email google drive</span></h4>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                        <p class="timeline-subtitle">2 Hours Ago</p>
                    </div>
                </div>
                <div class="timeline-container success">
                    <div class="timeline-icon">
                        <i class="far fa-grin-tears"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Create a new folder named Collegespace </span></h4>
                        <img class='img-fluid' src="https://res.cloudinary.com/nitw/image/upload/v1622610871/CollegeSpace/1_jsmjup.png">
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                        <p class="timeline-subtitle">6 Hours Ago</p>
                    </div>
                </div>
                <div class="timeline-container warning">
                    <div class="timeline-icon">
                        <i class="far fa-grimace"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Upload the file in this folder which you want to add to website</span></h4>
                        <img class='img-fluid' src="https://res.cloudinary.com/nitw/image/upload/v1622610871/CollegeSpace/6_rranke.png">
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                        <p class="timeline-subtitle">1 Day Ago</p>
                    </div>
                </div>
                <div class="timeline-container">
                    <div class="timeline-icon">
                        <i class="far fa-grin-beam-sweat"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">If you have an entire folder for course material then</span></h4>
                        <h4 class="timeline-title"><span class="badge">no need to follow above step </span></h4>
                        <!-- <img class='img-fluid' src="https://res.cloudinary.com/nitw/image/upload/v1622610871/CollegeSpace/2_mlo7y3.png"> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                        <p class="timeline-subtitle">3 Days Ago</p>
                    </div>
                </div>
                <div class="timeline-container info">
                    <div class="timeline-icon">
                        <i class="far fa-grin"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Right click on your file/folder and then click get link option</span></h4>
                        <img class='img-fluid mb-2' src="https://res.cloudinary.com/nitw/image/upload/v1622610872/CollegeSpace/7_t1j0ek.png">
                        <img class='img-fluid mt-2' src="https://res.cloudinary.com/nitw/image/upload/v1622610872/CollegeSpace/7.1_ylpacm.png">
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                        <p class="timeline-subtitle">4 Days Ago</p>
                    </div>
                </div>
                <div class="timeline-container primary">
                    <div class="timeline-icon">
                        <i class="far fa-grin-wink"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Make sure that the view options are either public or set on</span></h4>
                        <h4 class="timeline-title"><span class="badge">college mail then copy the link</span></h4>
                        <img class='img-fluid' src="https://res.cloudinary.com/nitw/image/upload/v1622610872/CollegeSpace/8_cdmif0.png">
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                        <p class="timeline-subtitle">1 Hours Ago</p>
                    </div>
                </div>
                <div class="timeline-container danger">
                    <div class="timeline-icon">
                        <i class="far fa-grin-hearts"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Click on add more material button on website under the</span></h4>
                        <h4 class="timeline-title"><span class="badge">course in which you want to upload material</span></h4>
                        <img class='img-fluid' src="https://res.cloudinary.com/nitw/image/upload/v1622610872/CollegeSpace/9_sh2fg6.png">
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                        <p class="timeline-subtitle">2 Hours Ago</p>
                    </div>
                </div>
                <div class="timeline-container success">
                    <div class="timeline-icon">
                        <i class="far fa-grin-tears"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Now paste the link that you copied in the URL and give</span></h4>
                        <h4 class="timeline-title"><span class="badge">appropriate description in both full and short form Then Click SUBMIT</span></h4>
                        <img class='img-fluid' src="https://res.cloudinary.com/nitw/image/upload/v1622610872/CollegeSpace/10_zi0c3d.png">
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                        <p class="timeline-subtitle">6 Hours Ago</p>
                    </div>
                </div>
                <div class="timeline-container">
                    <div class="timeline-icon">
                        <i class="far fa-grin-beam-sweat"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Hurray! You have successfully added a new material</span></h4>
                        <!-- <img class='img-fluid' src="https://res.cloudinary.com/nitw/image/upload/v1622610871/CollegeSpace/2_mlo7y3.png"> -->
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p> -->
                        <p class="timeline-subtitle">3 Days Ago</p>
                    </div>
                </div>
                <!-- <div class="timeline-container info">
                    <div class="timeline-icon">
                        <i class="far fa-grin"></i>
                    </div> -->
                    <!-- <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Info</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                        <p class="timeline-subtitle">4 Days Ago</p>
                    </div>
                </div>
                <div class="timeline-container primary">
                    <div class="timeline-icon">
                        <i class="far fa-grin-wink"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Primary</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                        <p class="timeline-subtitle">1 Hours Ago</p>
                    </div>
                </div>
                <div class="timeline-container danger">
                    <div class="timeline-icon">
                        <i class="far fa-grin-hearts"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Danger</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                        <p class="timeline-subtitle">2 Hours Ago</p>
                    </div>
                </div>
                <div class="timeline-container success">
                    <div class="timeline-icon">
                        <i class="far fa-grin-tears"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Success</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                        <p class="timeline-subtitle">6 Hours Ago</p>
                    </div>
                </div>
                <div class="timeline-container warning">
                    <div class="timeline-icon">
                        <i class="far fa-grimace"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Warning</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                        <p class="timeline-subtitle">1 Day Ago</p>
                    </div>
                </div>
                <div class="timeline-container">
                    <div class="timeline-icon">
                        <i class="far fa-grin-beam-sweat"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Secondary</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                        <p class="timeline-subtitle">3 Days Ago</p>
                    </div>
                </div>
                <div class="timeline-container info">
                    <div class="timeline-icon">
                        <i class="far fa-grin"></i>
                    </div>
                    <div class="timeline-body">
                        <h4 class="timeline-title"><span class="badge">Info</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam necessitatibus numquam earum ipsa fugiat veniam suscipit, officiis repudiandae, eum recusandae neque dignissimos. Cum fugit laboriosam culpa, repellendus esse commodi deserunt.</p>
                        <p class="timeline-subtitle">4 Days Ago</p>
                    </div> -->
                <!-- </div> -->
            </div>
        </div>
<!-- partial -->
