<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/about/app.css">
    <title>About Us</title>
  </head>
  <body>
    <div class="container">
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="/about/images/indresh.jpg" alt="">
                </div>
                <div class="contentBx">
                    <h4>Indresh Bharadwaj</h4>
                    <h5>Back-End Dev</h5>
                </div>
                <div class="sci">
                    <a href="https://www.instagram.com/indreshbharadwaj/" ><img src="/about/icons/instagram.svg"></a>
                    <a href="https://www.facebook.com/indresh.bharadwaj" ><img src="/about/icons/facebook.svg"></a>
                    <a href="https://www.linkedin.com/in/indreshbharadwaj/" ><img src="/about/icons/linkedin.svg"></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="/about/images/rahul1.jpg" alt="">
                </div>
                <div class="contentBx">
                    <h4>Rahul Mishra</h4>
                    <h5>Front-End Dev</h5>
                </div>
                <div class="sci">
                    <a href="https://www.instagram.com/___rahul__mishra____/" ><img src="/about/icons/instagram.svg"></a>
                    <a href="https://www.facebook.com/profile.php?id=100015252757655" ><img src="/about/icons/facebook.svg"></a>
                    <a href="https://www.linkedin.com/in/rahul-mishra-946852192/" ><img src="/about/icons/linkedin.svg"></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="/about/images/ayush.png" alt="">
                </div>
                <div class="contentBx">
                    <h4>Aayush Garg</h4>
                    <h5>System Tester</h5>
                </div>
                <div class="sci">
                    <a href="https://www.instagram.com/garg_aayus/" ><img src="/about/icons/instagram.svg"></a>
                    <a href="https://www.facebook.com/profile.php?id=100006943756941" ><img src="/about/icons/facebook.svg"></a>
                    <a href="https://www.linkedin.com/in/aayush-garg-70725a170/" ><img src="/about/icons/linkedin.svg"></a>
                </div>
            </div>
        </div>
        <a href="/courses" class="btn btn-success my-2">Back To All Courses</a>
        <!-- <button type="button" class="btn btn-success my-2">Back To Courses</button> -->
    </div>
    
  </body>
</html>
